<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{site.title} + ' - ' + #{auth.sign.in}"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/auth.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid" id="wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <div id="login">
                <div class="form-header">
                    <h1 th:text="#{site.title}"></h1>
                    <h2 style="margin-top:0;" th:text="#{site.subtitle}"></h2>
                </div>
                <div class="form-panel">
                    <form th:action="@{/login}" method="post">
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="text" name="username" class="form-control" autocomplete="email" th:placeholder="#{auth.email}"/>
                            </div>
                            <div class="col-xs-12">
                                <input type="password" name="password" class="form-control" autocomplete="current-password" th:placeholder="#{auth.password}"/>
                            </div>
                            <div class="col-xs-6">
                            </div>
                            <div class="col-xs-6">
                                <input type="submit" id="btn-submit" class="btn btn-default" th:value="#{auth.sign.in}"/>
                            </div>
                        </div>
                    </form>
                    <div class="info-box">
                        <div class="row">
                            <div th:if="${param.error}"
                                 th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
                                 class="auth-error col-xs-12">
                                <span th:text="${errorMsg}">Wrong input!</span>
                            </div>
                        </div>
                        <div th:if="${param.logout}" class="auth-success col-xs-12" th:text="#{auth.log.out}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>