<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{site.title} + ' - ' + #{auth.sign.up}"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/auth.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid" id="wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <div id="register">
                <div class="form-header">
                    <h1 th:text="#{site.title}"></h1>
                    <h2 style="margin-top:0;" th:text="#{site.subtitle}"></h2>
                </div>
                <div class="form-panel">
                    <form th:action="@{/register}" th:object="${user}" method="post">
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="text" th:field="*{email}" autocomplete="email" name="email" th:placeholder="#{auth.email}" th:class="${#fields.hasErrors('email')} ? 'form-control has-error' : 'form-control'"/>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="auth-error">Mail error</span>
                            </div>
                            <div class="col-xs-12">
                                <input type="password" th:field="*{password}" autocomplete="new-password" name="password" th:placeholder="#{auth.password}" th:class="${#fields.hasErrors('password')} ? 'form-control has-error' : 'form-control'"/>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="auth-error">Password error</span>
                            </div>
                            <div class="col-xs-offset-6 col-xs-6">
                                <input type="submit" id="btn-submit" class="btn btn-default" th:value="#{auth.sign.up}"/>
                            </div>
                        </div>
                    </form>
                    <div class="info-box">
                        <div class="row">
                            <div th:if="${param.error}"
                                 th:with="errorMessage=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
                                 class="auth-error col-xs-12">
                                <span th:text="#{errorMessage}">Wrong input!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>