<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{site.title} + ' - ' + #{register-success.title}"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/auth.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid" id="wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <div id="register">
                <div class="form-header">
                    <h1 th:text="#{site.title}"></h1>
                    <h2 style="margin-top:0;" th:text="#{site.subtitle}"></h2>
                </div>
                <div class="form-panel">
                    <!--<div th:text="#{register-success.description}"></div>-->

                    <div class="info-box">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 style="margin-top:0;text-align:center;" th:text="#{register-success.title}"></h2>
                            </div>
                            <div class="col-xs-12">
                                <div id="register-success-description" th:text="#{register-success.description}"></div>
                            </div>
                            <div class="col-xs-12">
                                <a class="btn btn-default pull-right" id="custom-btn" href="https://hatedetection.com">
                                    <span th:text="#{register-success.return-to-hatedetection-site}"></span>
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>