html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    background: url('../img/auth-background.jpg');
    background-size: 100% 100%;
}

#btn-submit {
    margin: 15px auto;
    width: 100%;
    border-radius: 0;
    height: 50px;
    font-size: 22px;
    background-color: #2e6da4;
    color: #fff;
    border: none;
}

.form-control {
    margin: 15px auto;
    border-radius: 0;
    height: 50px;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    color: #fff;
    padding: 30px;
}

.form-header {
    color: #fff;
    text-align: center;
}

#login {
    margin: 10vw auto 0;
}

#register {
    margin: 5vw auto 0;
}

.form-header > h1 {
    font-size: 40px;
    white-space: nowrap;
}
.form-header > h2 {
    font-size: 20px;
}

.info-box {
    color: #fff;
    font-size: 17px;
}

#register-success-description{
    padding: 35px 0;
}

.auth-error {
    text-shadow: 0 0 15px red;
    text-align: center;
    color: #fff;
    font-size: 17px;
}

.has-error {
    -webkit-box-shadow: 0 0 5px red;
    -moz-box-shadow: 0 0 5px red;
    box-shadow: 0 0 5px red;
}

.auth-success {
    text-shadow: 0 0 15px green;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

#custom-btn {
    border-radius: 0;
    border: 0;
}

@media (min-width: 768px) {
    .form-header > h1 {
        font-size: 80px;
    }
    .form-header > h2 {
        font-size: 30px;
    }

    .form-control {
        padding: 20px;
    }

    .form-control, #btn-submit {
        height: 70px;
        font-size: 30px;
    }
}